.destinations {
  font-weight: normal;
  width: 100%;
  text-align: center;
  &__input {
    margin:  0 auto; 
    background-color: #ffffff;
    width: 700px;
    height: 100%;
    .input__shippig { 
      padding: 90px;
      .shippig__address {
      text-align: center;
      height: 50px;
      padding-top: 10px;
      font-size: 20px;
      font-weight: bold;
      }
      .shippig__name {
        font-weight: bold;
        float: left;
        display: flex justify-content;
        font-size: 13px;
        margin: 22px 3px 10px 0px;
      }
      .shippig__required {
        display: flex;
        margin-top: 22px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        height: 18px;
        width: 30px;
        font-size: 12px;
        background-color: #3CCACE;
        border-radius: 3px;
      }
      .shippig__form {
        height:50px;
        width: 100%;
        margin: 5px 0px 0 0;
        padding: 10px 0px 0 5px;
        border:solid 1px #CCCCCC;
        border-radius: 5px;
      }
      .shippig__nameFormInput {
        height:50px;
        margin: 30px 0px 0 0;
        padding: 10px 0px 0 5px;
        border:solid 1px #CCCCCC;
        border-radius: 5px;
        width: 255px;
      }
      select {
        width: 100%;
        height:50px;
        background-color: white;
        border:solid 1px #CCCCCC;
      }
      .shippig__any {
        display: flex;
        margin-top: 22px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        height: 18px;
        width: 30px;
        font-size: 12px;
        background-color: #AAAAAA;
        border-radius: 3px;
      }
      .shippig__judgment {
        font-weight: bold;
        padding-top: 10px;
        color: #FFFFFF;
        text-align: center;
        background-color: #3CCACE;
        height:50px;
        width: 360px;
        margin-top: 50px;
        border:solid 1px #3CCACE;
        border-radius: 5px;
      }
    }
  }
  &__logo {
    padding:20px 0;
  }
}