* {
  box-sizing: border-box;
}
body,
html {
  background-color: #f5f5f5;
}


@mixin contentStyle {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  .header {
    &__image {
      text-align: center;
      margin: 20px;
      
    }
  }
  .main {
    text-align: center;
    
    &__contents {
      background-color: white;
      width: 600px;
      margin: auto;
      padding: 0 16px 20px 16px;
      &__head {
        text-align: center;
        padding: 20px;
      }
      &__buy-item {
        @include contentStyle;
        &__detail {
          &__name {
            margin-bottom: 30px;
          }
        }
      }
      &__value {
        @include contentStyle;
      }
      &__address {
        @include contentStyle;
      }
      &__posts {
        @include contentStyle;
      }

      .main__contents__posts__shipping-address {
        padding-left:200px;
        line-height : 1.5;
      }

      .shippig__form{
        height:50px;
        margin-bottom:10px;
        input{
          height:60%;
          margin-top:5px;
        }
      }
      .btn-icon {
        margin-top: 20px;
        background-color: #3CCACE;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 60px 8px 60px;
      }
    }
  }
  .footer {
    margin-top: 30px;
    text-align: center;
    position: absolute;
  }
}
