.wraper
  .mypage
    .useredit
      %ul
        %li<
          = link_to "#" do
            基本情報変更
        %li<
          = link_to "#" do
            クレジット情報
        %li<
          = link_to "#" do
            ログアウト
    .mypage__title
      マイページ
    .userdatas
      .userdata
        .userdata__key
          ニックネーム
        .userdata__value
          フリマ太郎
      .userdata
        .userdata__key
          メールアドレス
        .userdata__value
          tarou@furima.co.jp 
      .userdata
        .userdata__key
          お名前
        .userdata__value
          山田 太郎
      .userdata
        .userdata__key
          ふりがな(ひらがな)
        .userdata__value
          やまだ たろう
      .userdata
        .userdata__key
          生年月日
        .userdata__value
          2000年4月1日
      .userdata
        .userdata__key
          自己紹介
        .userdata__value
          プログラミング始めました。よろしくお願いします!