* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 150vh;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}

.sessions-header {
  height: 13vh;
  width: 100%;
  text-align: center;
    h1 {
      padding: 40px 0 0;
    }
  }

.sessions-main{
  height: 100vh;
  width: 60vh;
  margin: 0 auto;
  background-color: white;
  &__box {
    width: 60vh;
    height: 25vh;
    &__have {
      text-align: center;
      padding: 40px 64px;
      p {
        font-size: 14px;
      }
        a {
          display: block;
          margin: 8px 0 0;
          border: 1px solid #3ccace;
          background: #3ccace;
          color: #fff;
          line-height: 7vh;
          text-decoration: none;
        }
        
    }
  }
  &__box1 {
    width: 60vh;
    height: 25vh;
    text-align: center;
    &__facebook-btn {
      padding: 40px 64px;
      a {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #385185; 
        background-color: #385185;    
        color: #fff;
        line-height: 7vh;
        text-decoration: none;
      }
    }
    &__google-btn {
      width: 305px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      border: 1px solid #dd5144; 
      background-color: #dd5144;
      color: #fff;
    }
  }
  &__box3 {
    width: 60vh;
    height: 50vh;
    text-align: center;
    &__new {
      margin-top: 30px;
      a {
        text-decoration: none;
        color: #0099e8;
      }
    }
    }
  }
  .btn-icon {
    width: 300px;
    background: #3ccace;
    border: 1px solid #3ccace;
    color: #fff;
    line-height: 7vh;
    text-decoration: none;
    margin-top: 30px;
  }
// .sessions-fotter {
//   width: 456px;
//   height: 25vh;
//   margin: 0 auto;
//   text-align: center;
//   h1 {
//     padding: 40px 0 0;
//   }
// }

// #user_email {
//   height: 40px;
//   width: 300px;
//   margin-top: 70px;
// }

// #user_password {
//   height: 40px;
//   width: 300px;
//   margin-top: 25px;
// }