.cardDelete {
  text-align: center;
  font-size: 20px;
  background-color: white;
  width: 800px;
  height: 700px;
  margin: auto;
  line-height: 100px;
  padding: 0 90px;

  .border {
    border: 1px solid black;
  }

  .btn_mail {
    font-size: 18px;
    line-height: 48px;
    background: #3CCACE;
    color: #fff;
    width: 60%;
    border-radius: 50px;
    border: none;
  }
}