.destinations
  .destinations__logo
    .logo
      =link_to image_tag('logo.png', size:"160x40"),root_path
  .destinations__input
    .input__shippig
      .shippig__address
        発送元・お届け先住所入力
      .shippig__name 
        お名前
      .shippig__required 
        必須
      .shippig__family
        例）山田
      .shippig__first
        例）花子
      %br/
      .shippig__name 
        お名前カナ
      .shippig__required 
        必須
      .shippig__family
        例）ヤマダ
      .shippig__first
        例）ハナコ
      %br/
      .shippig__name 
        郵便番号
      .shippig__required 
        必須
      .shippig__family
        例）123-4567
      %br/ 
      .shippig__name 
        都道府県
      .shippig__required 
        必須
      .shippig__family
        = link_to ">>選択してください", "#"
      %br/ 
      .shippig__name 
        市区町村
      .shippig__required 
        必須
      .shippig__family
        例）横浜市緑区
      %br/ 
      .shippig__name 
        番地
      .shippig__required 
        必須
      .shippig__family
        例）青山1-1-1
      %br/ 
      .shippig__name 
        建物例
      .shippig__any
        任意
      .shippig__family
        例）柳ビル103
      %br/ 
      .shippig__name 
        電話
      .shippig__any 
        任意
      .shippig__family
        例）090-1234-5678 
      .shippig__judgment
        登録する
      %br/ 