.products
  .products__logo
    .logo
      =link_to image_tag('logo.png', size:"160x40"),root_path
  .products__items
    .items__image
      .image__name 出品画像
      .image__required 必須
      .image__upload 最大４枚までアップロードできます 
      .image__picture 
        .image__picture__btn 
        = icon('fas', 'camera')
        .image__picture__sentence
          ドラックアンドドロップ 
          %br またはクリックしてファイルをアップロード

    .items__product
      .product__name 商品名
      .product__required 必須
      .product__goods 40文字まで
      %br/
      %br/
      .product__name 商品の説明
      .product__required 必須
      .product__description 商品の説明(必須1000文字以内)
      %br/
      %br/
      .product__name カテゴリー
      .product__required 必須
      .product__category 選択してください
      %br/
      %br/
      .product__name 商品サイズ
      .product__required 必須
      .product__size 選択してください
      %br/
      %br/
      .product__name 商品の状態
      .product__required 必須
      .product__status 選択してください

    .items__delivery
      .delivery__name 配送料の負担
      .delivery__required 必須
      .delivery__cost 選択してください
      %br/
      %br/
      .delivery__name 発送元の地域
      .delivery__required 必須
      .delivery__prefecture 選択してください
      %br/
      %br/
      .delivery__name 発送までの日数
      .delivery__required 必須
      .delivery__days 選択してください

    .items__value
      .value__name 販売価格
      .value__required 必須
      .value__prize 入力してください
      .value__range 価格（¥300〜9,999,999）
      .value__commission 販売手数料（10%）
      .value__profit 販売利益
      .value__judgment 出品する
  .products__footer
    .footer__logo
      = image_tag 'logo-white.png', size:"160x50"


